# uncomment if needed (internet proxy access from your private openshift instance)
# proxy = http://myproxy:8080/
# https-proxy = http://myproxy:8080/
tmp = /tmp
registry = http://registry.npmjs.org/
strict-ssl = false